*{margin: 0; paading: 0;}
#wrap{  width: 100%;  height:auto;  margin: 0 auto;}
header{width: 100%;  height: 50px; background-color: #000;}
#a-tag{float: right; margin: 12.5px 10px 0px 0px;}
a{text-decoration: none; color: white; margin-right: 15px;}
span > a{color: red;}
#main-logo{width: 600px; height: 954px; float: left;}
th{float: left;}
#tb-size{font-size:30px; float: left;}
td{font-size: 14px;}
table{border: 0px solid #000; width: 848px; height: auto; float: left;}
.line{border-bottom: 1px solid red;}